.header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;

    &__nav {
        width: 60rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;

    }

    &__logo {
        width: 14.5rem;
        height: auto;
    }

    &__list {
        display: flex;
        font-size: 1.75rem;
        list-style-type: none;
        justify-content: space-around;
    }

    &__item {

        &:hover {
            &>a span {
                transform: translateX(5px) rotate(90deg);
            }

            &>nav {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }


        }

    }

    &__link {
        display: inline-block;
        padding: 1rem;
        color: $text-dark;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        text-transform: capitalize;
        height: 2rem;

        display: flex;
        align-items: center;
        position: relative;

        span {
            font-size: 3rem;
            font-weight: 300;
            margin-left: .5rem;
            transition: transform .3s;
            display: inline-block;
        }


        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: $text-gray;
        }


    }



    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        transition: all .3s;
        fill: $text-dark;
        cursor: pointer;

        &:hover {
            fill: $color-primary;
        }

        &:active {
            transform: translateY(3px)
        }

    }

}


.search {
    background-color: $color-primary;
    transition: all 1s ease-out;
    transform-origin: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

    &__container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        cursor: pointer;
    }

    &__input {
        padding: 1.5rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-size: 1.5rem;
        color: $text-dark;
        background-color: transparent;
        color: $color-white;

        &:focus {
            outline: none;
        }
    }


}