html {
    font-size: 62.5%;

}

body {
    font-family: "Poppins", sans-serif;
}

.margin-left-big {
    margin-left: 6rem;
}

.margin-left-medium {
    margin-left: 4rem;
}

.margin-left-small {
    margin-left: 2rem;
}